{{!-- Renders all existing blog posts --}}
<h2>Home Page</h2>
{{#each blogs as |blog|}}
    <div class="blogCard">
        <div class="blogHeader">
        <h3>{{blog.title}}</h3>
        <p>written by {{user.username}} on {{blog.date_created}}</p>
        </div>
        <p>{{blog.content}}</p>
            <p>{{comments.content}}</p>
        {{#each comment as |comments|}}
            <p>{{comments.content}}</p>
        {{/each}}       
    </div>
{{/each}}
